$green1: #1f2605;
$green2: #1f6521;
$green3: #53900f;
$fontXXS: 0.75rem;
$fontXS: 1rem;
$fontS: 1.5rem;
$fontM: 2rem;
$fontL: 3rem;
$fontXL: 4rem;
$gapXS: 5px;
$gapS: 15px;
$gap: 30px;
$border: 2px solid $green1;

.frontC {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.frontImageC {
  position: absolute;
  top: 0;
  height: 100vh;
  width: auto;
  min-width: calc(100vw + 250px);
  object-fit: cover;
  transform: translate(-250px);
  z-index: -2;
}

.contactC {
  position: absolute;
  height: fit-content;
  top: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba($green3, 0.8);
  padding: $gapXS;
  border: $border;
  border-radius: $gapXS;
  width: 80vw;
  font-size: $fontXS;
}

@media only screen and (min-width: 1024px) {
  .contactC {
    width: 60vw;
    font-size: $fontS;
    padding: $gapS;
  }
}

@media only screen and (max-height: 768px) and (max-width: 900px) {
  .contactC {
    font-size: $fontXXS;
  }
}

.contactC > div:nth-child(1) {
  font-size: $fontM;
  font-weight: bold;
  text-align: center;
  color: white;
}

.contactListC {
  background-color: $green2;
  padding: 0px $gap;
  border: $border;
  border-radius: $gapXS;
}

.contactListC > div {
  margin: $gapS 0px;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .contactListC > div {
    margin: $gap 0px;
  }
}

.socialNetworkC {
  display: flex;
  gap: $gapXS;
}

@media only screen and (min-width: 768px) {
  .socialNetworkC {
    gap: $gap;
  }
}

.linkC {
  color: $green1;
  text-decoration: none;
}

@media only screen and (min-width: 1024px) {
  .linkC {
    cursor: pointer;
  }
}

.linkC:hover {
  color: $green1;
}

@media only screen and (min-width: 1024px) {
  .linkC:hover {
    color: white;
  }
}
