$green1: #1f2605;
$green2: #1f6521;
$green3: #53900f;
$fontXXS: 0.75rem;
$fontXS: 1rem;
$fontS: 1.5rem;
$fontM: 2rem;
$fontL: 3rem;
$fontXL: 4rem;
$gapXS: 5px;
$gapS: 15px;
$gap: 30px;
$border: 2px solid $green1;

.frontFAQ {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.frontImageFAQ {
  position: absolute;
  top: 0;
  height: 100vh;
  width: auto;
  min-width: calc(100vw + 250px);
  object-fit: cover;
  transform: translate(-250px);
  z-index: -2;
}

.FAQ {
  position: absolute;
  height: fit-content;
  width: 80vw;
  top: 10vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: $fontXS;
  background-color: rgba($green3, 0.8);
  padding: $gapXS;
  border: $border;
  border-radius: $gapXS;
}

@media only screen and (min-width: 1024px) {
  .FAQ {
    width: 60vw;
    font-size: $fontS;
    padding: $gapS;
  }
}

@media only screen and (max-height: 400px) {
  .FAQ {
    font-size: $fontXXS;
    padding: $gapXS;
  }
}

.FAQ > div:nth-child(1) {
  font-size: $fontM;
  font-weight: bold;
  text-align: center;
  color: white;
}

.FAQQuestion {
  background-color: $green2;
  color: white;
  padding: $gapXS;
  margin: $gapXS 0px;
  border: $border;
  border-radius: $gapXS;
}

@media only screen and (min-width: 768px) {
  .FAQQuestion {
    padding: $gapXS $gapS;
    margin: $gapS;
  }
}

@media only screen and (min-width: 1024px) {
  .FAQQuestion {
    cursor: pointer;
  }
}

@media only screen and (max-height: 400px) {
  .FAQQuestion {
    padding: $gapXS $gapS;
  }
}

.FAQAnswer {
  background-color: transparent;
  color: black;
  padding: $gapXS;
  margin: $gapXS 0px;
  border: $border;
  border-radius: $gapXS;
}

@media only screen and (min-width: 768px) {
  .FAQAnswer {
    padding: $gapXS $gapS;
    margin: $gapS;
  }
}

@media only screen and (max-height: 400px) {
  .FAQAnswer {
    padding: $gapXS $gapS;
  }
}
