$green1: #1f2605;
$green2: #1f6521;
$green3: #53900f;
$fontXXS: 0.75rem;
$fontXS: 1rem;
$fontS: 1.5rem;
$fontM: 2rem;
$fontL: 3rem;
$fontXL: 4rem;
$gapXS: 5px;
$gapS: 15px;
$gap: 30px;
$border: 2px solid $green1;

.frontFP {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.frontImageFP {
  position: absolute;
  top: 0;
  height: 100vh;
  width: auto;
  min-width: calc(100vw + 250px);
  object-fit: cover;
  transform: translate(-250px);
  z-index: -2;
}

.fleetFP {
  position: absolute;
  height: fit-content;
  width: fit-content;
  background-color: rgba($green3, 0.8);
  padding: $gapXS;
  top: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: $gapS;
  border: $border;
  border-radius: $gapXS;
}

@media only screen and (max-height: 620px) and (min-width: 1024px) {
  .fleetFP {
    padding: $gapS;
  }
}

.fleetFP > div:nth-child(1) {
  font-size: $fontM;
  font-weight: bold;
  text-align: center;
  color: white;
}

.showFleetFP {
  background-color: $green2;
  padding: $gapS;
  border: $border;
  border-radius: $gapXS;
  color: white;
}

.selectionFleetFP {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carCategoryFleetFP {
  font-size: $fontS;
  width: 150px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .carCategoryFleetFP {
    width: 250px;
    font-size: $fontM;
  }
}

@media only screen and (min-width: 768px) {
  .arrowFleetFP {
    font-size: $fontS;
  }
}

@media only screen and (min-width: 1024px) {
  .arrowFleetFP {
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  .carInfoFleetFP {
    display: flex;
    gap: $gapS;
  }
}

@media only screen and (max-height: 500px) {
  .carInfoFleetFP {
    display: flex;
    gap: $gapS;
  }
}

.imgBoxFleetFP {
  height: 30vh;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $gapS 0px;
}

.imgFleetFP {
  width: 52.5vw;
}

@media only screen and (min-width: 768px) {
  .imgFleetFP {
    width: 30vw;
    max-width: 400px;
    min-width: 300px;
  }
}

@media only screen and (max-height: 500px) {
  .imgFleetFP {
    width: 30vw;
    max-width: 300px;
    min-width: 200px;
  }
}

.infoBoxFleetFP {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: $fontXS;
}

@media only screen and (min-width: 768px) {
  .infoBoxFleetFP {
    margin: auto;
    font-size: $fontXS;
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .infoBoxFleetFP {
    margin: auto;
    font-size: $fontS;
  }
}

.priceFleetFP {
  background-color: $green1;
  font-size: $fontS;
}
