.reservationR {
  height: -moz-fit-content;
  height: fit-content;
}

.titleR {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2rem;
  font-weight: bold;
  background-color: #1f2605;
  color: white;
  padding: 15px;
}

@media only screen and (min-width: 1024px) {
  .titleR {
    font-size: 3rem;
    padding: 30px;
  }
}
.titleLogoTextR {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .titleLogoTextR {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.backTitleR {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  top: 0;
  bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .backTitleR {
    margin: auto 0px;
    font-size: 2rem;
    cursor: pointer;
  }
}
.logoR {
  width: 80px;
}

@media only screen and (min-width: 1024px) {
  .logoR {
    width: 100px;
  }
}
.gridR {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 1024px) {
  .gridR {
    grid-template-columns: repeat(4, 1fr);
  }
}
.categoryShowR {
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: 2px solid white;
}

@media only screen and (min-width: 768px) {
  .categoryShowR {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .categoryShowR {
    cursor: pointer;
  }
}
.categoryShowR > div:first-child {
  font-weight: bold;
}

.categoryShowBorderR {
  border: 2px solid #1f2605;
  border-radius: 5px;
}

.categoryShowBoxImg {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 450px) {
  .categoryShowBoxImg {
    height: 175px;
  }
}
@media only screen and (min-width: 768px) {
  .categoryShowBoxImg {
    height: 250px;
  }
}
.categoryShowImg {
  width: 40vw;
}

@media only screen and (min-width: 1024px) {
  .categoryShowImg {
    width: 20vw;
  }
}
.packageBoxR {
  margin: 15px;
}

@media only screen and (min-width: 768px) {
  .packageBoxR {
    font-size: 1.5rem;
  }
}
.packageBoxR > button {
  background-color: #1f6521;
  color: white;
  border: 0px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.packageBoxR > button:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  .packageBoxR > button {
    font-size: 1.5rem;
    max-width: 300px;
  }
  .packageBoxR > button:hover {
    color: #1f2605;
  }
}
@media only screen and (min-width: 1024px) {
  .packageBoxR > button {
    cursor: pointer;
  }
}
.packageTitleR {
  font-weight: bold;
}

.priceConfirmR {
  margin: 15px;
}

.fullPriceTextR {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .fullPriceTextR {
    font-size: 2rem;
  }
}
.fullPriceNumR {
  background-color: #1f6521;
  color: white;
  padding: 5px;
}

.confirmR {
  background-color: #1f6521;
  color: white;
  border: 0px;
  padding: 15px;
  width: 100%;
  font-size: 2rem;
  border-radius: 5px;
}

.confirmR:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  .confirmR {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .confirmR {
    cursor: pointer;
  }
}
@media only screen and (min-width: 1024px) {
  .confirmR:hover {
    color: #1f2605;
  }
}
.diffLocationR {
  font-size: 0.75rem;
}

.modalBackgroundR {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalR {
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  text-align: center;
  border: 2px solid #1f2605;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 5px;
}

.modalR > img {
  width: 200px;
}

.modalR > div:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.modalR > div:last-child {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.descriptionR {
  font-weight: bold;
}

.fullPriceR {
  background-color: #1f6521;
  color: white;
  padding: 0px 15px;
}

.modalButtonYesR {
  background-color: white;
  border: 2px solid #53900f;
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.modalButtonNoR {
  background-color: white;
  border: 2px solid red;
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
}

@media only screen and (min-width: 1024px) {
  .modalButtonYesR {
    cursor: pointer;
  }
  .modalButtonNoR {
    cursor: pointer;
  }
}
@media only screen and (min-width: 1024px) {
  .modalButtonYesR:hover {
    background-color: #1f6521;
    color: white;
  }
  .modalButtonNoR:hover {
    background-color: red;
    color: white;
  }
}
.finalModalTitleR {
  font-size: 2rem;
  margin-top: 30px;
}/*# sourceMappingURL=reservation.css.map */